.blockit {
    display: block;
}
.spaceabove {
    margin-top: 50px;
}
.error {
    color: red;
    font-style: italic;
}
.blog_title {
    font-size: 175%;
}
a {
    margin-right: 20px;
}